/*selector de etiqueta*/
p {
    font-size: 20px;
    /* font-family: 'Fascinate', cursive; */
    /* font-family: 'Roboto', sans-serif; */
}

/*
body {
    background-color: red;
}
*/

/*quiero que todos tengan la misma fuente*/
* {
    font-family: 'Roboto', sans-serif;
}

/*herencia*/
section {
    background-color: aqua;
}

.html {
    background-color: aquamarine !important;
}
 
main section.html {
    background-color: brown;
}

#htmlId {
    background-color: blueviolet;
    width: 300px;
    height: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
/*especificidad*/

/*
1 - !important
2 - inline
3 - class
4 - etiqueta  
*/